.app {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-msg{
    margin: 10px;
    padding: 5px;
}